
.vs/Snake/v15/.suo
.vs/Snake/v15/Server/sqlite3/db.lock
.vs/Snake/v15/Server/sqlite3/storage.ide
.vs/Snake/v15/Server/sqlite3/storage.ide-shm
.vs/Snake/v15/Server/sqlite3/storage.ide-wal
.vs/Snake/v15/Solution.VC.db
.vs/Snake/v16/.suo
.vs/Snake/v16/Server/sqlite3/db.lock
.vs/Snake/v16/Server/sqlite3/storage.ide
SnakeAPI/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SnakeAPI/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SnakeAPI/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SnakeAPI/obj/Release/SnakeAPI.pdb
SnakeAPI/obj/Release/SnakeAPI.dll
Snake Client/bin/Debug/merge.bat
Snake Client/bin/Debug/Snake Client.exe
Snake Client/bin/Debug/Snake Client.exe.config
Snake Client/bin/Debug/Snake Client.pdb
Snake Client/bin/Debug/SnakeAPI.dll
Snake Client/bin/Debug/SnakeAPI.pdb
Snake Client/bin/Release/merge.bat
Snake Client/bin/Release/Snake Client.exe
Snake Client/bin/Release/Snake Client.exe.config
Snake Client/bin/Release/Snake Client.pdb
Snake Client/bin/Release/Snake.pdb
Snake Client/bin/Release/SnakeAPI.dll
Snake Client/bin/Release/SnakeAPI.pdb
Snake Client/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Snake Client/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Snake Client/obj/Debug/Snake Client.csproj.CopyComplete
Snake Client/obj/Debug/Snake Client.csproj.CoreCompileInputs.cache
Snake Client/obj/Debug/Snake Client.csproj.FileListAbsolute.txt
Snake Client/obj/Debug/Snake Client.csproj.GenerateResource.cache
Snake Client/obj/Debug/Snake Client.csprojAssemblyReference.cache
Snake Client/obj/Debug/Snake Client.exe
Snake Client/obj/Debug/Snake Client.pdb
Snake Client/obj/Debug/SnakeClient.GameForm.resources
Snake Client/obj/Debug/SnakeClient.GameOverForm.resources
Snake Client/obj/Debug/SnakeClient.Properties.Resources.resources
Snake Client/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Snake Client/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Snake Client/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Snake Client/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
Snake Client/obj/Release/DesignTimeResolveAssemblyReferences.cache
Snake Client/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Snake Client/obj/Release/Snake Client.csproj.CopyComplete
Snake Client/obj/Release/Snake Client.csproj.CoreCompileInputs.cache
Snake Client/obj/Release/Snake Client.csproj.FileListAbsolute.txt
Snake Client/obj/Release/Snake Client.csproj.GenerateResource.cache
Snake Client/obj/Release/Snake Client.csprojAssemblyReference.cache
Snake Client/obj/Release/Snake Client.exe
Snake Client/obj/Release/Snake Client.pdb
Snake Client/obj/Release/SnakeClient.GameForm.resources
Snake Client/obj/Release/SnakeClient.GameOverForm.resources
Snake Client/obj/Release/SnakeClient.Properties.Resources.resources
Snake Client/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Snake Client/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Snake Client/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Snake Client/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
SnakeAPI/obj/Release/SnakeAPI.csprojAssemblyReference.cache
SnakeAPI/obj/Release/SnakeAPI.csproj.FileListAbsolute.txt
SnakeAPI/obj/Release/SnakeAPI.csproj.CoreCompileInputs.cache
SnakeAPI/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
SnakeAPI/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SnakeAPI/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SnakeAPI/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SnakeAPI/obj/Debug/SnakeAPI.pdb
SnakeAPI/obj/Debug/SnakeAPI.dll
SnakeAPI/obj/Debug/SnakeAPI.csprojAssemblyReference.cache
SnakeAPI/obj/Debug/SnakeAPI.csproj.FileListAbsolute.txt
SnakeAPI/obj/Debug/SnakeAPI.csproj.CoreCompileInputs.cache
SnakeAPI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SnakeAPI/bin/Release/SnakeAPI.pdb
SnakeAPI/bin/Release/SnakeAPI.dll
SnakeAPI/bin/Debug/SnakeAPI.pdb
SnakeAPI/bin/Debug/SnakeAPI.dll
